%h1= t('page.genres.title')

= render 'actions'

%table.table.table-bordered.table-condensed.table-striped
  %thead
    %tr
      %th= t('table.title.name')
      %th= t('table.title.notes')
      %th= t('table.title.evensongs')
      %th
  %tbody
    - @genres.each do |item|
      %tr
        %td= item.name
        %td= item.notes.count
        %td= item.evensongs.count
        %td
          - if permitted_to? :edit, item
            = link_to t('link.edit'), edit_genre_path(item), :class => 'btn btn-default btn-xs'
          - if permitted_to? :destroy, item
            - if item.deletable?
              = link_to t('link.delete'), item, method: :delete, data: { confirm: t('link.destroy.confirm') }, :class => 'btn btn-xs btn-danger'

= render 'actions'
