- title t('page.messages.title')

= render 'actions'

%table.table.table-bordered.table-condensed.table-striped
  %thead
    %tr
      %th= t('table.title.name')
      %th= t('table.title.content')
      %th= t('table.title.start')
      %th= t('table.title.end')
      %th= t('table.title.status')
      %th
  %tbody
    - @messages.each do |item|
      %tr
        %td= item.title
        %td= markdown item.content
        %td= item.startdt_text
        %td= item.enddt_text
        %td
          = active_line(item.active_flag)
          = msgtype_line(item.msgtype)
        %td
          - if permitted_to? :edit, item
            = link_to t('link.edit'), edit_message_path(item), :class => 'btn btn-default btn-xs'
          - if permitted_to? :destroy, item
            - if item.deletable?
              = link_to t('link.delete'), item, method: :delete, data: { confirm: t('link.destroy.confirm') }, :class => 'btn btn-xs btn-danger'

= render 'actions'
