= simple_form_for note, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= legend

    = f.input :item
    = f.input :title
    = f.input :soloists
    = f.input :voice, :input_html => { :data => { :provide => "typeahead", :source => @voices }}
    = f.input :instrument
    = f.input :originals
    = f.input :copies
    = f.input :instrumental
    = f.input :comment, :input_html => { :rows => 7 }
    = f.association :composer, :collection => Composer.ordered
    = f.association :genre, :collection => Genre.ordered
    = f.association :period, :collection => Period.ordered
    = f.association :language, :collection => Language.ordered

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('form.button.cancel'), :back, :class => 'btn'
