%table.table.table-bordered.table-condensed.table-striped.sortable
  %thead
    %tr
      %th= t('table.title.item')
      %th= t('table.title.title')
      %th= t('table.title.composer')
      %th= t('table.title.genre')
      %th= t('table.title.period')
      %th= t('table.title.language')
      %th= t('table.title.instrument')
      %th= t('table.title.upload')
  %tbody
    - rows.each do |item|
      %tr
        %td= item.item
        %td
          - if permitted_to? :show, item
            = link_to item.title, note_path(item)
          - else
            = item.title
        %td= search_link 'composer', item.composer_name
        %td= search_link 'genre', item.genre_name
        %td= search_link 'period', item.period_name
        %td= search_link 'language', item.language_name
        %td= search_link 'search', item.instrument
        %td
