%table{:class => "table table-striped table-condensed table-bordered note #{notes.size > 0 ? 'sortable' : 'hidden'}",
  :data => { :sorted => sorted_notes_url }}
  %thead
    %tr
      %th{:data => { :col => 'item' } }
        = t('model.note.list.item.title')
      %th{:data => { :col => 'title' } }
        = t('model.note.list.name.title')
      %th{:data => { :col => 'composer' } }
        = t('model.composer.title')
      %th{:data => { :col => 'genre' } }
        = t('model.genre.title')
      %th{:data => { :col => 'period' } }
        = t('model.period.title')
      %th{:data => { :col => 'language' } }
        = t('model.language.list.title')
      %th{:data => { :col => 'instrument' } }
        = t('model.note.list.instrument.title')
      %th= t('model.upload.list.title')
  %tbody
    - notes.each do |note|
      %tr
        %td= note.item
        %td
          - if permitted_to? :show, note
            = link_to note.title, note_path(note)
          - else
            = note.title
        %td= search_link note.composer_name
        %td= search_link note.genre_name
        %td= search_link note.period_name
        %td
          - if note.languages
            %ul.unstyled
              - note.languages.each do |lang|
                %li= search_link lang.name
        %td= search_link note.instrument
        %td
          - note.uploads.each do |u|
            = short_media_link u, note_path(note)

%div{:class => notes.size > 0 ? 'hidden' : ''}
  = t('model.note.nonefound')
