- title t('page.notes.title')

= render 'actions'

%table.table.table-bordered.table-condensed.table-striped
  %thead
    %tr
      %th= t('table.title.item')
      %th= t('table.title.title')
      %th= t('table.title.composer')
      %th= t('table.title.genre')
      %th= t('table.title.period')
      %th= t('table.title.language')
      %th= t('table.title.instrument')
      %th= t('table.title.upload')
      %th
  %tbody
    - @notes.each do |item|
      %tr
        %td= item.item
        %td
          - if permitted_to? :show, item
            = link_to item.title, note_path(item)
          - else
            = item.title
        %td= item.composer_name
        %td= item.genre_name
        %td= item.period_name
        %td= item.language_name
        %td= item.instrument
        %td
        %td
          - if permitted_to? :edit, item
            = link_to t('link.edit'), edit_note_path(item), :class => 'btn btn-default btn-xs'
          - if permitted_to? :destroy, item
            = link_to t('link.delete'), item, method: :delete, data: { confirm: t('link.destroy.confirm') }, :class => 'btn btn-xs btn-danger'

= render 'actions'
