<h1><%= t('model.note.title') %></h1>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t('model.evensong.show.key') %></th>
    <th><%= t('model.evensong.show.val') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= t('model.note.field.item.title') %></td>
    <td><%= @note.item %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.title.title') %></td>
    <td><%= @note.title %></td>
  </tr>
  <tr>
    <td><%= t('model.composer.title') %></td>
    <td><%= search_link @note.composer_name %></td>
  </tr>
  <tr>
    <td><%= t('model.genre.title') %></td>
    <td><%= search_link @note.genre_name %></td>
  </tr>
  <tr>
    <td><%= t('model.period.title') %></td>
    <td><%= search_link @note.period_name %></td>
  </tr>
  <tr>
    <td><%= t('model.language.list.title') %></td>
    <td>
      <ul class="unstyled">
        <% @note.languages.each do |lang| %>
            <li><%= search_link lang.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><%= t('model.note.field.soloists.title') %></td>
    <td><%= search_link @note.soloists %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.instrument.title') %></td>
    <td><%= search_link @note.instrument %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.counts.original') %></td>
    <td><%= @note.originals %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.counts.copy') %></td>
    <td><%= @note.copies %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.counts.instrumental') %></td>
    <td><%= @note.instrumental %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.voice.title') %></td>
    <td><%= search_link @note.voice %></td>
  </tr>
  <tr>
    <td><%= t('model.note.field.comment.title') %></td>
    <td><%= @note.comment %></td>
  </tr>
  <tr>
    <td><%= t('model.link.list.title') %></td>
    <td>
      <% if permitted_to?(:show, :links) %>
          <% if @note.links %>
              <ul class="unstyled">
                <% @note.links.each do |link| %>
                    <li>
                      <%= link_to link.title, link.url %>
                      <% if permitted_to?(:edit, link) %>
                          <%= link_to t('show.button.edit'), edit_link_path(link), :class => 'btn btn-mini' %>
                      <% end %>
                      <% if permitted_to?(:destroy, link) %>
                          <%= link_to t('show.button.delete'), link_path(link), :method => 'delete', :confirm => t('show.delete.confirm'), :class => 'btn btn-mini btn-danger' %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
          <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= t('model.upload.list.title') %></td>
    <td>
      <% if @note.uploads %>
          <ul class="unstyled">
            <% @note.uploads.each do |upload| %>
                <li>
                  <%= media_link upload %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('model.note.list.title'), notes_path, :class => 'btn' %>
  <% if permitted_to?(:edit, @note) %>
      <%= link_to t('show.button.edit'), edit_note_path(@note), :class => 'btn' %>
  <% end %>
  <% if permitted_to?(:new, :links) %>
      <%= link_to t('show.button.link'), new_link_path(:note => @note.id), :class => 'btn' %>
  <% end %>
  <% if permitted_to?(:destroy, @note) %>
      <%= link_to t('show.button.delete'), note_path(@note), :method => 'delete', :confirm => t('show.delete.confirm'), :class => 'btn btn-danger' %>
  <% end %>
</div>
