- title t('search.title')
%h1= t('search.title')

%p
  = t('search.prefix')
  %em= params[:search]

%h2= t('model.note.list.title')

= render :partial => 'notes/table', :locals => { :notes => @search[:notes] }

%h2= t('model.evensong.list.title')

= render :partial => 'evensongs/table', :locals => { :evensongs => @search[:evensongs] }