<h1><%= t('model.period.list.title') %></h1>

<%= render :partial => 'actions' %>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t('model.period.list.name.title') %></th>
    <th><%= t('model.note.list.title') %></th>
    <th><%= t('list.actions.title') %></th>
  </tr>
  </thead>
  <tbody>
  <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.notes.size if period.notes.size > 0 %></td>
        <td>
          <% if permitted_to? :edit, period %>
              <%= link_to t('list.button.edit'), edit_period_path(period), :class => 'btn btn-mini' %>
          <% end %>
          <% if permitted_to? :destroy, period %>
              <%= link_to t('list.button.delete'), period_path(period), :method => 'delete', :confirm => t('list.delete.confirm'), :class => danger_button_class(period) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render :partial => 'actions' %>