<%= form_for @language, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= t('model.language.title') %></legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t("form.button.cancel"), languages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
