= simple_form_for(@composer, :html => {:class => 'form-horizontal' }) do |f|
  %fieldset
    %legend= t('model.composer.title')

    = f.input :name

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('form.button.cancel'), composers_path, :class => 'btn'
