<h1><%= t('model.composer.list.title') %></h1>
<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t('model.composer.list.name.title') %></th>
    <th><%= t('list.actions.title') %></th>
  </tr>
  </thead>
  <tbody>
  <% @composers.each do |composer| %>
      <tr>
        <td><%= composer.name %></td>
        <td>
          <% if permitted_to? :edit, composer %>
              <%= link_to t('list.button.edit'), edit_composer_path(composer), :class => 'btn btn-mini' %>
          <% end %>
          <% if permitted_to? :destroy, composer %>
              <% if composer.deletable? %>
                  <%= link_to t('list.button.delete'), composer_path(composer), :method => 'delete', :confirm => t('list.delete.confirm'), :class => 'btn btn-mini btn-danger' %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if permitted_to? :new, :composers %>
    <div class="well">
      <%= link_to t('list.button.new'), new_composer_path, :class => 'btn btn-primary' %>
    </div>
<% end %>