<h1>Brukere</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>E-mail</th>
    <th>Updated</th>
    <th>Login Count</th>
    <th>Failed Login Count</th>
    <th>Last Request</th>
    <th>Current Login</th>
    <th>Current Login IP</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
  <% for user in @users %>
      <tr>
        <td>
          <%= link_to user.username, user_path(user) %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.updated_at %>
        </td>
        <td>
          <%= user.login_count %>
        </td>
        <td>
          <%= user.failed_login_count %>
        </td>
        <td>
          <%= user.last_request_at %>
        </td>
        <td>
          <%= user.current_login_at %>
        </td>
        <td>
          <%= user.current_login_ip %>
        </td>
        <td>
          <ul>
            <% user.roles.each do |role| %>
                <li><%= role.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
