%h2
  User:
  = @user.username

%br

%table.table.table-striped.table-condensed
  %tr
    %td
      Email
    %td= @user.email
  %tr
    %td
      Name
    %td= @user.name
  %tr
    %td
      Created
    %td= @user.created_at
  %tr
    %td
      Updated
    %td= @user.updated_at
  %tr
    %td
      Login Count
    %td= @user.login_count
  %tr
    %td
      Failed Login Count
    %td= @user.failed_login_count
  %tr
    %td
      Last Request
    %td= @user.last_request_at
  %tr
    %td
      Current Login
    %td= @user.current_login_at
  %tr
    %td
      Last Login
    %td= @user.last_login_at
  %tr
    %td
      Current Login IP
    %td= @user.current_login_ip
  %tr
    %td
      Last Login IP
    %td= @user.last_login_ip
  %tr
    %td
      Roles
    %td
      %ul.unstyled
        - @user.roles.each do |role|
          %li= role.name

%br

%div.form-actions
  = link_to t('back'), :back, :class => 'btn'
  - if permitted_to? :edit, @user
    = link_to 'Endre', edit_user_path(@user), :class => 'btn'
  - if permitted_to? :index, :users
    = link_to 'Back to users', users_path, :class => 'btn'
  - if permitted_to?(:destroy, @user) && current_user.username != @user.username
    = link_to t('show.button.delete'), user_path(@user), :method => 'delete', :confirm => t('show.delete.confirm'), :class => 'btn btn-danger'
