%h1= title

.container
  .row
    .col-md-3

    .col-md-6
      = form_for(item) do |f|
        = render 'shared/validation_messages', :errors => item.errors

        .form-group
          = f.label :name, :class => 'control-label'
          = f.text_field :name, :class => 'form-control'

        .well
          = f.submit :class => 'btn btn-primary btn-xs'
          = link_to t('link.back'), polymorphic_url(item.class), :class => 'btn btn-default btn-xs'

    .col-md-3