- if @link.note
  %h2
    = t('model.note.title')
    :
    = @link.note.title

- if @link.evensong
  %h2
    = t('model.evensong.title')
    :
    = @link.evensong.title

= form_for @link, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= t('model.link.title')

    - if @link.note
      = f.hidden_field :note_id, :value => @link.note.id

    - if @link.evensong
      = f.hidden_field :evensong_id, :value => @link.evensong.id

    %div.control-group
      = f.label :title, :class => 'control-label'
      %div.controls
        f.text_field :title, :class => 'text_field'

    %div.control-group
      = f.label :url, :class => 'control-label'
      %div.controls
        = f.text_field :url, :class => 'text_field'

    %div.form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t("form.button.cancel"), links_path, :class => 'btn'
