= simple_form_for @evensong, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= t('model.evensong.title')

    = f.input :title
    = f.input :psalm
    = f.input :soloists
    = f.input :comment, :input_html => { :rows => 7 }
    = f.association :composer
    = f.association :genre

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('form.button.cancel'), :back, :class => 'btn'
