<%= form_for @evensong, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= t('model.evensong.title') %></legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :psalm, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :psalm, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :soloists, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :soloists, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :comment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comment, :class => 'text_area', :rows => 7 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :composer, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:composer_id, @composers, :id, :name) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :genre, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:genre_id, @genres, :id, :name) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('form.button.cancel'), evensongs_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
