%table{:class => "table table-striped table-condensed table-bordered evensong #{evensongs.size > 0 ? 'sortable' : 'hidden'}",
  :data => { :sorted => sorted_evensongs_url }}
  %thead
    %tr
      %th{:data => { :col => 'title' } }
        = t('model.evensong.list.name.title')
      %th{:data => { :col => 'psalm' } }
        = t('model.evensong.list.psalm.title')
      %th{:data => { :col => 'composer' } }
        = t('model.composer.title')
      %th{:data => { :col => 'genre' } }
        = t('model.genre.title')
      %th= t('model.upload.list.title')
  %tbody
    - evensongs.each do |evensong|
      %tr
        %td
          - if permitted_to? :show, evensong
            = link_to evensong.title, evensong_path(evensong)
          - else
            = evensong.title
        %td= evensong.psalm
        %td= search_link evensong.composer_name
        %td= search_link evensong.genre_name
        %td
          - evensong.uploads.each do |u|
            = short_media_link u, evensong_path(evensong)

%div{:class => evensongs.size > 0 ? 'hidden' : ''}
  = t('model.evensong.nonefound')
  