%table{:class => "table table-striped table-condensed table-bordered evensong #{@evensongs.size > 0 ? 'sortable' : 'hidden'}"}
  %thead
    %tr
      %th= t('model.evensong.list.name.title')
      %th= t('model.evensong.list.psalm.title')
      %th= t('model.composer.title')
      %th= t('model.genre.title')
      %th= t('model.upload.list.title')
  %tbody
    - @evensongs.each do |evensong|
      %tr
        %td
          - if permitted_to? :show, evensong
            = link_to evensong.title, evensong_path(evensong)
          - else
            = evensong.title
        %td= evensong.psalm
        %td= search_link evensong.composer_name
        %td= search_link evensong.genre_name
        %td
          - if evensong.uploads && evensong.uploads.size > 0
            %i.icon-hdd
            = evensong.uploads.size

%div{:class => @evensongs.size > 0 ? 'hidden' : ''}
  = t('model.evensong.nonefound')
  