<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t('model.evensong.list.name.title') %></th>
    <th><%= t('model.evensong.list.psalm.title') %></th>
    <th><%= t('model.composer.title') %></th>
    <th><%= t('model.genre.title') %></th>
    <th><%= t('model.link.list.title') %></th>
    <th><%= t('list.actions.title') %></th>
  </tr>
  </thead>
  <tbody>
  <% @evensongs.each do |evensong| %>
      <tr>
        <td><%= evensong.title %></td>
        <td><%= evensong.psalm %></td>
        <td><%= search_link evensong.composer_name %></td>
        <td><%= search_link evensong.genre_name %></td>
        <td>
          <ul>
            <% if permitted_to?(:show, :links) %>
                <% if evensong.links %>
                    <% evensong.links.each do |link| %>
                        <li><%= link_to link.title, link.url %></li>
                    <% end %>
                <% end %>
            <% end %>
          </ul>
        </td>
        <td>
          <% if permitted_to? :show, evensong %>
              <%= link_to t('list.button.show'), evensong_path(evensong), :class => 'btn btn-mini' %>
          <% end %>
          <% if permitted_to? :edit, evensong %>
              <%= link_to t('list.button.edit'), edit_evensong_path(evensong), :class => 'btn btn-mini' %>
          <% end %>
          <% if permitted_to? :destroy, evensong %>
              <%= link_to t('list.button.delete'), evensong_path(evensong), :method => 'delete', :confirm => t('list.delete.confirm'), :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>