- title @evensong.title
%h1= @evensong.title

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t('model.evensong.show.key')
      %th= t('model.evensong.show.val')
  %tbody
    %tr
      %td= t('model.evensong.field.title.title')
      %td= @evensong.title
    %tr
      %td= t('model.evensong.field.psalm.title')
      %td= @evensong.psalm
    %tr
      %td= t('model.composer.title')
      %td= search_link @evensong.composer_name
    %tr
      %td= t('model.genre.title')
      %td= search_link @evensong.genre_name
    %tr
      %td= t('model.evensong.field.soloists.title')
      %td= search_link @evensong.soloists
    %tr
      %td= t('model.evensong.field.comment.title')
      %td=  @evensong.comment
    %tr
      %td= t('model.link.list.title')
      %td
        - if permitted_to?(:show, :links)
          - if @evensong.links
            = render :partial => 'shared/show_links_list', :locals => { :links => @evensong.links }
    %tr
      %td= t('model.upload.list.title')
      %td
        - if @evensong.uploads
          = render :partial => 'shared/show_uploads_list', :locals => { :uploads => @evensong.uploads }

%div.form-actions
  = link_to t('back'), :back, :class => 'btn'
  = link_to t('model.evensong.list.title'), evensongs_path, :class => 'btn'
  - if permitted_to?(:edit, @evensong)
    = link_to t('show.button.edit'), edit_evensong_path(@evensong), :class => 'btn'
  - if permitted_to?(:new, :links)
    = link_to t('show.button.link'), new_link_path(:evensong => @evensong.id), :class => 'btn'
  - if permitted_to?(:new, :uploads)
    = link_to t('show.button.upload'), new_upload_path(:evensong => @evensong.id), :class => 'btn'
  - if permitted_to?(:link, :uploads)
    = link_to t('show.button.attach'), link_uploads_path(:evensong => @evensong.id), :class => 'btn', :rel => 'popover', :data => { :title => t('link.file.title'), :content => t('refresh.warning'), :trigger => 'hover' }
  - if permitted_to?(:destroy, @evensong)
    = link_to t('show.button.delete'), evensong_path(@evensong), :method => 'delete', :confirm => t('show.delete.confirm'), :class => 'btn btn-danger', :rel => 'popover', :data => { :title => t('link.file.delete.all'), :content => t('delete.all.refresh.warning'), :trigger => 'hover' }
