- title @show[:evensong].title

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t('table.title.key')
      %th= t('table.title.value')
  %tbody
    %tr
      %td= t('table.title.title')
      %td= @show[:evensong].title
    %tr
      %td= t('table.title.psalm')
      %td= search_link 'search', @show[:evensong].psalm
    %tr
      %td= t('table.title.composer')
      %td= search_link 'composer', @show[:evensong].composer_name
    %tr
      %td= t('table.title.genre')
      %td= search_link 'genre', @show[:evensong].genre_name
    %tr
      %td= t('table.title.soloists')
      %td= search_link 'search', @show[:evensong].soloists
    %tr
      %td= t('table.title.comment')
      %td= search_link 'search', @show[:evensong].comment
    %tr
      %td= t('table.title.links')
      %td
        - if permitted_to?(:show, :links)
          - if @show[:evensong].links
            = render :partial => 'shared/show_links_list', :locals => { :links => @show[:evensong].links }
    %tr
      %td= t('table.title.upload')
      %td
        - if @show[:evensong].uploads
          = render :partial => 'shared/show_uploads_list', :locals => { :uploads => @show[:evensong].uploads }

.well
  = link_to t('link.back'), :back, :class => 'btn btn-default'
  -# if @show[:first]
    = link_to t('show.button.first'), evensong_path(@show[:first]), :class => 'btn btn-default'
  -# if @show[:previous]
    = link_to t('show.button.previous'), evensong_path(@show[:previous]), :class => 'btn btn-default'
  -# if @show[:next]
    = link_to t('show.button.next'), evensong_path(@show[:next]), :class => 'btn btn-default'
  -# if @show[:last]
    = link_to t('show.button.last'), evensong_path(@show[:last]), :class => 'btn btn-default'
  -# if session.has_key? :lastsearch
    = link_to t('model.evensong.list.title'), search_path(:search => session[:lastsearch]), :class => 'btn btn-default'
  -# else
    = link_to t('model.evensong.list.title'), evensongs_path, :class => 'btn btn-default'
  - if permitted_to?(:edit, @show[:evensong])
    = link_to t('button.edit'), edit_evensong_path(@show[:evensong]), :class => 'btn btn-default'
  - if permitted_to?(:new, :links)
    = link_to t('button.link'), new_link_path(:evensong => @show[:evensong].id), :class => 'btn btn-default'
  - if permitted_to?(:new, :uploads)
    = link_to t('button.upload'), new_upload_path(:evensong => @show[:evensong].id), :class => 'btn btn-default'
  - if permitted_to?(:link, :uploads)
    = link_to t('button.attach'), link_uploads_path(:evensong => @show[:evensong].id), :class => 'btn btn-default', :rel => 'popover', :data => { :container => 'body', :toggle => 'popover', :title => t('link.file.title'), :content => t('refresh.warning'), :trigger => 'hover', :placement => 'right' }
  - if permitted_to?(:destroy, @show[:evensong])
    = link_to t('link.delete'), @show[:evensong], method: :delete, data: { confirm: t('link.destroy.confirm') }, :class => 'btn btn-danger'
