- title @user.display_name, false

.container
  .row
    .col-md-6
      %h2= @user.display_name

      = form_for @user, :url => {:controller => 'admin_users', :action => 'update'} do |f|
        = render 'form', :user => @user, :f => f

        .well
          = f.submit t('button.update'), :class => 'btn btn-primary'
          = link_to t('button.cancel'), url_for( :controller => 'admin_users', :action => 'index'), :class => 'btn btn-default'
