<h2><%= t('dropbox.account.info.title') %></h2>

<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= t('dropbox.field.name') %></th>
    <th><%= t('dropbox.field.value') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= t('dropbox.field.referral') %></td>
    <td><%= @info['referral_link'] %></td>
  </tr>
  <tr>
    <td><%= t('dropbox.field.uid') %></td>
    <td><%= @info['uid'] %></td>
  </tr>
  <tr>
    <td><%= t('dropbox.field.country') %></td>
    <td><%= @info['country'] %></td>
  </tr>
  <tr>
    <td><%= t('dropbox.field.quota') %></td>
    <td>
      <dl class="dl-horizontal">
        <dt><%= t('dropbox.field.quotashared') %></dt>
        <dd>
          <%= number_to_human_size @info['quota_info']['shared'].to_f %>
        </dd>
        <dt><%= t('dropbox.field.quotanormal') %></dt>
        <dd><%= number_to_human_size @info['quota_info']['normal'].to_f %></dd>
        <dt><%= t('dropbox.field.quotaquota') %></dt>
        <dd><%= number_to_human_size @info['quota_info']['quota'].to_f %></dd>
      </dl>
    </td>
  </tr>
  </tbody>
</table>

