- title @user.display_name
= simple_form_for @user, :html => {:class => 'form-horizontal'}, :url => {:controller => "account", :action => 'update'} do |f|
  %fieldset
    %legend= t('account.form.title')

    = f.input :password
    = f.input :password_confirmation
    = f.input :email

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t('form.button.cancel'), url_for( :controller => 'account', :action => 'index'), :class => 'btn'
