- title upload_title('page.upload.title', @upload)

%h3= t('upload.available')

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th= t('dropbox.file.name')
      %th= t('dropbox.file.size')
      %th= t('dropbox.file.modified')
      - if @files.size == 1
        %th= t('dropbox.file.media')
      %th
        &nbsp;
  %tbody
    - @files.each do |file|
      - if upload_back_item(file['path']).nil?
        %tr
          %td= file['path']
          %td= number_to_human_size file['bytes'].to_f
          %td= file['modified']
          %td= link_to t('button.attach'), url_for(params.merge(:path => file['path'])), :class => 'btn btn-default btn-xs'


.well
  = link_to t('link.back'), :back, :class => 'btn btn-default  btn-xs'
