- title t('user_session.form.forgotten.legend')
= form_tag '/reset_password', :html => {:class => 'form-horizontal'}, :method => :post do
  %fieldset
    %legend= t('user_session.form.forgotten.legend')

    %p=  t('user_session.form.forgotten.intro')

    %div.control-group
      = label_tag :email, t('helpers.label.user_session.email'), :class => 'control-label'
      %div.controls
        = text_field_tag :email, nil, :class => 'text_field'

    %div.form-actions
      = submit_tag t('helpers.submit.user_session.forgotten'), :class => 'btn btn-primary'
