<%= form_tag '/reset_password', :html => {:class => 'form-horizontal'}, :method => :post do %>
    <fieldset>
      <legend><%= t('user_session.form.forgotten.legend') %></legend>

      <p><%=  t('user.session.form.forgotten.intro') %></p>

      <div class="control-group">
        <%= label_tag :email, t('helpers.label.user_session.email'), :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :email, nil, :class => 'text_field' %>
        </div>
      </div>

      <div class="form-actions">
        <%= submit_tag t('helpers.submit.user_session.forgotten'), :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
