- title t('user_session.form.legend')

= simple_form_for @user_session, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= t("user_session.form.legend")

    = f.input :username
    = f.input :password

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'

%br

= link_to t("user_session.link.forgotten_password"), forgot_path
