<!DOCTYPE html>
<html>
<head>
  <title>Notearkiv2</title>
  <%= stylesheet_link_tag "grid", :media => "all" %>
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag "ie", :media => "all" %>
  <![endif]-->
  <%= stylesheet_link_tag "small", :media => "only screen and (max-width: 1023px)" %>
  <%= stylesheet_link_tag "mobile", :media => "handheld, only screen and (max-width: 767px)" %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <%= yield %>

</div>
</body>
</html>
