!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %title= (content_for?(:title) ? yield(:title) : 'OCHS')
    %meta{ :name => 'description', :content => (content_for?(:description) ? yield(:description) : 'OCHS Notearkiv') }
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'shared/navigation'
    %main{ :role => "main" }
      = render 'shared/system_messages', :messages => Message.system_messages
      = render 'shared/system_messages', :messages => Message.find_currently_active
      = render 'shared/flash_messages'
      - if content_for?(:heading)
        %h1= yield(:heading)
      = yield
